<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h1>loginpage</h1>
    <form action="/login" method="post">
        <label for="username">UserName：</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Paaword：</label>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
